.loading-container {
    height: 50vh;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.loading {
    margin: auto;
}

.form-btn-icon {
    width: 15px !important;
    height: 15px !important
}

.container {
    padding: 0 5vh !important
}

.box-shadow {
    box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.15) !important;
}

.badge {
    padding: 0.2em 0.6em 0.3em !important;
    font-size: 75% !important;
    font-weight: bold !important;
}


.form-fields {

    border-radius: 10px !important;
    box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.15);
}

.form-btn {
    box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.15) !important;
}



.border-radius-2 {
    border-radius: 2 !important;
}

.border-radius-10 {
    border-radius: 10 !important;
}

.btn-grid {
    display: flex;
    justify-content: space-between;
}

.actions {
    border-radius: 10px !important;
    box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.15) !important;
}