.loading-container {
    height: 52vh !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.table-container {
    height: 52vh !important;
    padding: 0 1em !important;

}

.tbody {
    height: 52vh !important;
}