.loading-container {
    height: 26.25vh;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.loading {
    margin: auto;
}

.table-container {
    @media only screen and (min-width: 500px) {
        width: 100,
    }
}