.loading-container {
    height: 53vh !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.table-container {
    height: 53vh !important;
    padding: 0 0.5em !important;

}

.tbody {
    height: 53vh !important;
    overflow-y: auto;
}